@charset "utf-8";


/* 普通按钮 */
.ui-btn { display: inline-block; margin-right: 10px; padding: 0 13px; height: 28px; border: 1px solid #c1c1c1; border-radius: 2px; box-shadow: 0 1px 1px rgba(0,0,0,0.15); background: #fff; background: -moz-linear-gradient(top, #fff, #f4f4f4); background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f4f4f4)); background: -o-linear-gradient(top, #fff, #f4f4f4);background: -ms-linear-gradient(top, #fff 0%,#f4f4f4 100%); background: linear-gradient(top, #fff, #f4f4f4); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4'); font: 14px/2 \5b8b\4f53; 
color: #555; vertical-align: middle; cursor: pointer; }
.ui-btn:hover {
filter:progid:DXImageTransform.Microsoft.Gradient(enabled=false); background: #f4f4f4; color: #555; }
.ui-btn:active { background: #fbfbfb; background: -moz-linear-gradient(top, #e8e8e8, #fbfbfb); background: -webkit-gradient(linear, 0 0, 0 100%, from(#e8e8e8), to(#fbfbfb)); background: -o-linear-gradient(top, #e8e8e8, #fbfbfb); background: -ms-linear-gradient(top, #e8e8e8 0%,#fbfbfb 100%); background: linear-gradient(top, #e8e8e8, #fbfbfb); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#fbfbfb');
}

/* 特殊按钮 */
.ui-btn-sp { padding: 0 16px; border: 1px solid #3279a0; box-shadow: 0 1px 1px rgba(0,0,0,0.3); background: #337fa9; background: -moz-linear-gradient(top, #4994be, #337fa9); background: -webkit-gradient(linear, 0 0, 0 100%, from(#4994be), to(#337fa9)); background: -o-linear-gradient(top, #4994be, #337fa9); background: -ms-linear-gradient(top, #4994be 0%,#337fa9 100%); background: linear-gradient(top, #4994be, #337fa9); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994be', endColorstr='#337fa9');
font-weight: bold; color: #fff; text-shadow: 0 2px 2px rgba(0,0,0,0.22); }
.ui-btn-sp:hover { background: #3286b4; color: #fff; }
.ui-btn-sp:active { background: -moz-linear-gradient(top, #2b6c90, #4994be); background: -webkit-gradient(linear, 0 0, 0 100%, from(#2b6c90), to(#4994be)); background: -o-linear-gradient(top, #2b6c90, #4994be); background: -ms-linear-gradient(top, #2b6c90 0%,#4994be 100%); background: linear-gradient(top, #2b6c90, #4994be); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b6c90', endColorstr='#4994be');
}




/* 文本框控件 */
.ui-input { padding: 6px 5px; width: 120px; height: 16px; line-height: 16px; border: 1px solid #ddd; color: #555; vertical-align: middle; outline: none; }
.ui-input-def { color: #aaa; }
.ui-input:hover { border: 1px solid #ccc; box-shadow: 0 1px 1px #ddd; }
.ui-input:focus, .ui-input-focus { border: 1px solid #aaa; box-shadow: 0 2px 1px rgba(0,0,0,0.11) inset; }
.ui-input-dis{ background: #f0f0f0; color: #999; }
.ui-input-dis:hover{border-color:#ddd;box-shadow:none;}


/* 下拉框 */
.ui-combo-wrap { position: relative; display: inline-block; height: 28px; *display:inline;
vertical-align: middle; background-color: #fff; border: 1px solid #ddd; color: #555; overflow: hidden; zoom: 1; }
.ui-combo-wrap .input-txt { outline:none;float: left; padding: 6px 5px; height: 16px; line-height: 16px; font-size: 14px; color: #555; border: 0; }
.ui-combo-wrap .trigger { float: left; width: 16px; height: 100%; overflow: hidden; background-position: 0 -16px; }
.ui-combo-wrap .trigger:hover { background-position: -16px -16px; }
.ui-combo-active, .ui-combo-active:hover { border: 1px solid #aaa; }
.ui-combo-disabled .input-txt { background-color: #f0f0f0; color: #aaa; }
.ui-combo-disabled .trigger, .ui-combo-disabled .trigger:hover { background-color: #f0f0f0; background-position: 0 -16px; }
.ui-droplist-wrap { background: #fff; border: 1px solid #aaa; box-shadow: 0 1px 3px rgba(0,0,0,0.15); z-index: 500; }
.ui-droplist-wrap .droplist { background-color: #fff; position: relative; }
.ui-droplist-wrap .list-item {_position:relative; padding: 2px 5px; font-size: 14px; line-height: 22px; cursor: default; overflow: hidden; }
.ui-droplist-wrap .loading { line-height: 26px; padding: 5px 5px 5px 40px; background: url('img/loading.gif') no-repeat 10px center; }
.ui-droplist-wrap .tips { line-height: 18px; padding: 5px; }
.ui-droplist-wrap .on { background-color: #eee;}
.ui-droplist-wrap .selected { background-color: #d2d2d2; }
.ui-subjectList-wrap .list-item{font-size:12px;}
.ui-combo-wrap-small{height: 22px;}
.ui-combo-wrap-small .input-txt{padding: 3px 5px; height: 14px;font-size: 12px;line-height: 14px;}
.ui-droplist-wrap-small .list-item{font-size: 12px;line-height: 20px;}
.ui-combo-wrap-small .trigger{background-position: 0 -19px;}
.ui-combo-wrap-small .trigger:hover { background-position: -16px -19px; }
.ui-droplist-wrap .extra-list-ctn{border-top: 1px solid #ddd; background: #f5f5f5;padding-left: 5px;}

