@charset "utf-8";
/*72px分辨率*/
/*AI上宽度496pt = 660px NO*/

.container{
	width:644px;
	margin: 0 auto;
	/*margin-top: 26px;*/
	font-family: '微软雅黑';
	/*font-size: 12px;*/
	color: #cccccc;
	font-size: 10pt;
    padding:16px 46px 35px 78px;
}
.color_c{
    color:#ccc;
}

.container .logo{
	width: 100%;
	height: 20px;
	background:url(/Content/Images/img/logo4.png) no-repeat left center;
}
.logo p{
	line-height: 22pt;
	float: right;
}
.header{
	width: 100%;
	/*position: relative;*/
	height: 88px;
}
.head{
	width: 286px;
	height:47px;
}
.head h3{
	width: 286px;
	position: absolute;
	left: 50%;
	margin-left: -143px;
	font-size:18pt;
	color: #000;
	text-align: center; 
	height:36pt;
	line-height: 36pt;
	border-bottom: 1px solid #000;
}
.tips{
	height: 14pt;
	line-height: 14pt;
	margin-top: 22px;
	padding: 0 10px;
}
.main{
	width: 644px;
	padding-right: 20px;
	position: relative;
}
.voucher  th{
	height: 24pt;
	/*height: 38pt;*/
	border: 1px solid #000;
	text-align: center;
	color: #000;
}
.voucher td.col_debite, .voucher td.col_credit, .voucher td.col_money {background-image:url(/Content/Images/img/bg3.png); background-repeat: repeat-y;background-position: 0 0; }
.edit_summary, .edit_money, .edit_subject { float: left; outline: none; resize: none; border: 2px solid #4bb8f3; box-shadow: rgba(0,0,0,.1) 0 1px 2px 1px inset;width:105px; height: 24px;overflow: hidden; line-height:24px\9; }
.tb{
	border: 1px solid #000;
	border-collapse: collapse;
}
.tb td.tdColorc{border-right-color:#ccc;}
.voucher .money_unit span { 	float: left;
	display: block;
	width: 12px;
	height: 19pt;
	line-height: 19pt;
	font-size: 9px;
	text-align: center;}
.tb .remarkTr td,.tb .color_0 td{    border-bottom:1px solid #000;}
.tb td{
	height: 24pt;
	border: 1px solid #000;
    border-bottom:1px solid #ccc;
	text-align: center;
	color: #000;
}
.tb td.unit{height: 19pt;}
.unit span.first{border-left:none;}
.unit span{
	float: left;
	display: block;
	width: 12px;
	height: 19pt;
	line-height: 19pt;
	border-left: 1px solid #000;
	font-size: 9px;
	text-align: center;
}
.unit2 span.first{border-left:none;}
.unit2 span{
	float: left;
	display: block;
	width: 12px;
	height: 24pt;
	line-height: 24pt;
	border-left: 1px solid #000;
	font-size: 9px;
	text-align: center;
}
.txtQZ{
	font-size: 9pt;
}
.tb td.txtLeft{text-align: left;}
.txtHJ{
	margin-left: 12px;
}
.remarkTr td{
	height: 104px;
}
.tdContent{
	margin: 0 0  0 14px;
}
.tdContent p{line-height: 24px;}
.txtLH{
	margin-left: 26px;
}
.txtLH p{
	width: 55px;
	float: left;
}
.txtLH span{
	display: block;
}
.txt{
	width: 114px;
	border-bottom: 1px solid #000;
	resize: none;
}
.foot{
	height: 26pt;
	line-height: 26pt;
	color: #000;
}
/*.lbl1{
	margin-left: 124px;
}
.lbl2{
	margin-left: 162px;
}*/
.txtPerson{
	font-family: "微软雅黑";
}
.lbl1,.lbl2,.lbl3,.lbl4{width:24%;display:block;float:left;}
/*.lbl1{margin-left: 26px;}
.lbl2{margin-left: 123px;}
.lbl3{margin-left: 123px;}
.lbl4{margin-left: 123px;}*/
.fdj{
	width: 22px;
	text-align: center;
	height: 314px;
	white-space:normal;
	position: absolute;
	right: 0;
	top:68px;
}
.fdj .unit{
	display: block;
	margin-top:129px;
}
