@charset "utf-8";
/* CSS Document */
html,body{ height:100%; /*overflow:hidden;*/ background-color:#fff;}
*+html, * html {overflow:hidden;}
/*html {
	min-height: 100%;
	position: relative
}*/
/*body {
	padding-bottom: 0;
	background-color: #e4e6e9;
	min-height:100%;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #393939;
	line-height: 1.5
}*/

/*body{
	background-color: #e4e6e9;
}*/
#prompt_infor,#widget-box
{
	position:relative;
	left:-80px;	
}
#statistic_figure,#widget-box2
{
	position:relative;
	right:-80px;
	
}

.welcome_page
{
	font-family:Microsoft YaHei;	

}
.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7
}

.navbar {
	margin-bottom: 0
}
.navbar {
	margin-left: 0;
	margin-right: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	height: 45px;
	position: relative;
	background: #438eb9;
}
.navbar .navbar-brand {
	color: #fff;
	font-size: 24px;
	text-shadow: none;
	padding-top: 6px;
	display:block;
	line-height:39px;
}
/*.infobox_content_s{
	width:90%;
	margin:0 5%;
}*/
.navbar-brand .logo{
	display:block;
	width:165px;
	height:29px;
	background:url(/Content/Images/logo.png) no-repeat 0 0;
}
.navbar-brand .logo_j{
	display:block;
	width:210px;
	height:29px;
	margin-left: 9px;
}
.navbar-brand .version{
	font-size:12px;
	display:block;
	padding-left:11px;
	background:url(/Content/Images/version.png) no-repeat left 32%;
	margin-left:6px;
}
.pull-right .role_photo img{
	display:block;
	padding-top:1px;
	border-radius:50%;
	/*border:1px solid red;*/
}
.pull-right {
	background-color:#62a8d1;
	padding:0 0 0 5px ;
}
.role_infor{
	height:44px;
}
.role_infor table{
	height:100%;
}
.role_infor table td{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	color:#fff;
	text-align:left;
}
.icon_tb_01{
	padding-left:13px;
	background:url(/Content/Images/icon_phone_tb.png) no-repeat left center;
}
.icon_tb_02{
	padding-left:14px;
	background:url(/Content/Images/icon_tb_2.png) no-repeat left center;
}
.navbar-container {
	padding-left: 10px;
	padding-right: 20px
}

.pull-left{
	float:left;
	padding-left:10px;
}

.pull-right{
	float:right;
	margin-right:10px;
}

.main-container {
/*	position: static;*/
	padding: 0;
}

.main-container>.main-container-inner {
	position: relative;
	background-color:#fff;
}

.sidebar {
	width:190px;
	/*position:relative;*/
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
	background-color: #fff;
 	height:100%;
	float:left;
	/*left: 0px;
	padding:0px;
	margin:0px;*/
}
.fixRight{
	width:328px;
/*	background-color:#0099CC;*/
	border-left:2px solid #1B4B3B;
 	height:100%;
/*	float:right;*/
	position: fixed;
	right: 0;
	top: 46px;
	z-index: 101;
	background-color: #fff;
	display: none;
}
.main-content {
	margin-left:190px;
	margin-top: 0;
	min-height: 100%;
	padding: 0;
	height:100%;
	overflow:auto;
	position:relative;
	z-index:100;
	margin-right:39px;
}

.rightUnfold .main-content{
	/*	margin-right:330px;*/
}
.rightUnfold .fixRight{
	display: block;	
}
.rightUnfold #btnR{
	display: none;
}

.btnR{
	width: 35px;
	height: 70%;
	/*background:url(../Images/btnR.png) no-repeat 0 0;*/
    background:#000000;
	position: fixed;
	top: 100px;
	right:1px;
}
.posBtnR{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-58px;
    margin-left:-17px;
    /*position:absolute;*/
	cursor:pointer;
    height:114px;
}
.posBtnR:hover {
	background:red;
}
.posBtnR:hover .btn_cn {
	background: url(/Content/Images/btn_cnCur.png) no-repeat top center;
}
.btnR .btn_cn{
    color:#fff;
    font-size:14px;
    width:16px;
    height:82px;
    padding-left:10px;
    padding-right:10px;
    padding-top:25px;
    text-align:center;
    /*vertical-align:middle;*/
    display:block;
    /*position:absolute;
    /*left:50%;*/
    /*top:50%;*/
    /*margin-left:-8px;*/
    /*margin-top:-72px;*/
    background:url(/Content/Images/btn_cn.png) no-repeat top center;
}
.btn_num{
    width:15px;
    height:15px;
    line-height:15px;
    font-size:10px;
    /*position:absolute;
    top:39%;
    left:44%;*/
    color:#cc0000;
    text-align:center;
    /*margin-left:-6px;
    margin-top:-2px;*/
    display:block;
    margin-left:9px;
    margin-bottom:-8px;
    margin-top:20px;
    background:url(/Content/Images/num_cn.png) no-repeat 0 0;
    /*display:none;*/
    /*opacity:0;
    filter:alpha(opacity=0);*/
}
/*.btnR .btn_cn:hover{
    background:url(../Images/CL/btn_cnCur.png) no-repeat top center;
}*/




.sidebar-shortcuts {
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
	text-align: center;
	max-height: 35px;
	margin-bottom: 0;
	padding:4px 2px;
	
}
.sidebar-shortcuts a{
	width: 39px;
	height:32px;
	margin-right:2px;
	*margin-right:6px;
	display:inline-block;
}
.sidebar-shortcuts .short1{
	background:url(/Content/Images/short.gif) no-repeat 0 0;
}
.sidebar-shortcuts .short2{
	background:url(/Content/Images/short2.gif) no-repeat 0 0;
}
.sidebar-shortcuts .short3{
	background:url(/Content/Images/short3.gif) no-repeat 0 0;
}
.sidebar-shortcuts .short4{
	background:url(/Content/Images/short4.gif) no-repeat 0 0;
}
.icon{
	position:absolute;
	left:9px;
	top:8px;
	top:-8px\9;
	width:17px;
	height:15px;
	display:block;
}
.icon-cogs{
	background:url(/Content/Images/icon4.png)  no-repeat 0 0;
}
.icon-signal{
	background:url(/Content/Images/icon1.png)  no-repeat 0 0;
}
.icon-pencil{
	background:url(/Content/Images/icon2.png)  no-repeat 0 0;
}
.icon-group{
	background:url(/Content/Images/icon3.png)  no-repeat 0 0;
}
/*.icon-rss3{
	background:url(/Content/Images/icon_10.png) no-repeat 0 0;
}
*/
.nav-list li.parent_li {
	display: block;
	border: 0;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.nav-list li .submenu li{
	border-bottom:1px dotted #ccc;
}
.nav-list>li>.submenu>li>a{
	border-top:1px solid #fafafa;
	border-left:1px dotted #9dbdd6;
	margin-left:18px;
	padding-left:10px;
}


.nav-list li .submenu li.last{
	border-bottom:none;
}

.nav-list li.parent_li a {
	display: block;
	height: 38px;
	line-height: 36px;
	padding: 0 16px 0 43px;
	background-color: #f9f9f9;
	color: #585858;
	text-shadow: none!important;
	font-size: 13px;
	text-decoration: none;
	
}
.nav-list li.parent_li a.parent_a{
	position:relative;
}

/*.nav-list li a .arrow {
	display: inline-block;
	width: 12px!important;
	height: 7px;
	position: absolute;
	right: 11px;
	top: 14px;
	padding: 0;
	display:block;
	color: #666;
	background:url(/Content/Images/arrow.png) no-repeat 0 0;
}*/
.nav-list li.parent_li i{
	display: inline-block;
	width: 18px!important;
	height:15px;
	position: absolute;
	left: 13px;
	top:9px;
	padding: 0;
	display:block;
	color: #666;

}
.nav-list li.parent_li
{
	position:relative;
}
.nav-list li.parent_li .line{
	width:2px;
	height:100%;
	position:absolute;
	right:-1px;
	top:0;
	background:#2b7dbc;
	display:none;
}


.nav-list li.parent_li.active a span.arrow , .nav-list li.active  li.active2  a span.arrow2
{
	width:12px;
	height:40px;
	background:url(/Content/Images/arrow_b.png) no-repeat 0 0;
	position:absolute;
	right:-1px;
	top:0;
	display:inline-block;
}
.nav-list li.parent_li a .icon-angle-down{
	width:12px;
	height:7px;
	display:inline-block;
	background:url(/Content/Images/angle_arrow.gif) no-repeat 0  0;
	position:absolute;
	right:13px;
	top:45%;
}
.nav-list li.parent_li.active a .icon-angle-down{
	background:url(/Content/Images/angle_arrow2.gif) no-repeat 0  0;
}
.menu-min li.parent_li a .icon-angle-down{
	display:none;
}
.icon-all{
		background:url(/Content/Images/icon5.png) no-repeat 0 0;
}
.active .icon-all{
		background:url(/Content/Images/icon_all_cur.png) no-repeat 0 0;
}
.icon-first{
		background:url(/Content/Images/icon_x.png) no-repeat 0 0;
}
.active .icon-first{
	background:url(/Content/Images/icon_x_cur.png) no-repeat 0 0;
}
.icon-second{
		background:url(/Content/Images/icon_k.png) no-repeat 0 0;
}
.active .icon-second{
		background:url(/Content/Images/icon_k_cur.png) no-repeat 0 0;
}

.icon-third{
		background:url(/Content/Images/icon6.png) no-repeat 0 0;
}
.active .icon-third{
		background:url(/Content/Images/icon6_cur.png) no-repeat 0 0;
}
.icon-fourth{
		background:url(/Content/Images/icon9.png) no-repeat 0 0;
		margin-left:-3px;
}
.active .icon-fourth{
		background:url(/Content/Images/icon9_cur.png) no-repeat 0 0;
}
.icon-fifth{
		background:url(/Content/Images/icon7.png) no-repeat 0 0;
}
.active .icon-fifth{
		background:url(/Content/Images/icon7_cur.png) no-repeat 0 0;
}



#ifrma1{height:100%;}
.menu-min.sidebar{
	width:43px;
	z-index:101;
	position:relative;
}
.menu-min .nav-list .parent_li{
	position:relative;	
}
.menu-min .nav-list .parent_li.active a .menu-text{
	border-left-color:#1963aa;
	/*border-left:1px solid #2b7dbc;*/
}
.menu-min .nav-list .parent_li.active .submenu{
	/*border-left:2px solid #2b7dbc;*/
}
.menu-min  .menu-text{
	display:none;
	position:absolute;
	left:43px;
	top:-2px;
	width:174px;
	height:39px;
	line-height:38px;
	background-color:#f5f5f5;
	z-index:121;
	border:1px solid #ccc;
	padding-left:12px;
}
.menu-min  .submenu{
	display:block;
	position:absolute;
	left:43px;
	top:38px;
	width:186px;
	line-height:38px;
	background-color:#f5f5f5;
	z-index:121;
	border:1px solid #ccc;
	padding-left:12px;
}
.menu-min .nav-list>li>.submenu>li>a{
	border-left:none;
	padding-left:28px;
	margin-left:0;
}

.menu-min .sidebar-shortcuts{
	position:relative;
	*position:static;
	
}
.menu-min .sidebar-shortcuts-large {
	display:none;
	position:absolute;
	top:7px;
	left:44px;
	padding:0 2px 1px;
	width:190px;
	background-color:#fff;
	z-index:101;
}


.menu-min li.parent_li a{
	padding:0 0px 0 43px;
}


.menu-min .sidebar-shortcuts-mini{
	display:block;
	width:37px;
	line-height:18px;
	padding-top:2px;
/*	padding-bottom:2px;*/
	background-color:#fff;
}
.menu-min .sidebar-shortcuts-mini .btn{
	padding:7px 8px 8px 8px;
	margin:1px;
	opacity:0.85;
	filter:alpha(opacity=85);
	font-size:0;
	line-height:0;
	display:block;
	float:left;
}
.sidebar-collapse{
	border-bottom:1px solid #e0e0e0;
	background-color:#f3f3f3;
	text-align:center;
	padding:1px 0 ;
	position:relative;
	height:26px;
}
.sidebar-collapse .bg_bd{
	display:inline-block;
	height:0;
	border-top:1px solid #2b7dbc;
	position:absolute;
	left:15px;
	right:15px;
	top:15px;
}

.menu-min .sidebar-collapse .bg_bd{
	left:1px;
	right:1px;
}


.sidebar-collapse .icon_right,.sidebar-collapse .icon_left{
	width:26px;
	height:26px;
	margin-left:-13px;
	position:absolute;
	left:50%;
	display:block;
}
.sidebar-collapse .icon_left{
	background:url(/Content/Images/icon_left.png) no-repeat 0 0;
}
.sidebar-collapse .icon_right{
	background:url(/Content/Images/icon_right.png) no-repeat 0 0;
}
.nav-list>li.open{
	border-bottom-color:#e5e5e5;
}
.nav-list>li.active>a, .nav-list>li.active>a:hover, .nav-list>li.active>a:focus, .nav-list>li.active>a:active{
	background-color:#fff;
	color:#2b7dbc;
	font-weight:bold;
	font-size:13px;
}
.nav-list>li.open>a{
	background-color:#fafafa;
	color:#1963aa;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color:#eee;
	border-color:#428bca;
}
.nav-list>li.active .submenu{
	display:block;
	opacity:1;
}
.nav-list li .submenu{
	overflow:hidden;
}
.nav-list>li .submenu{
	display:none;
	position:relative;
	background-color:#f9f9f9;;
	border-top:1px solid #e5e5e5;
	margin:0;
	padding:0;
}
li>ul,li>ol{
	margin-left:18px;
}
.nav-list>li.active>.submenu:before{
	border-left-color:#8eb3d0;
}
.nav-list>li .submenu>li{
	margin-left:0;
	position:relative;
}
.nav-list>li.active>.submenu>li:before{
	border-top-color:#8eb3d0;
}


.nav-list>li .submenu>li.active>a{
	color:#2b7dbc;
}
.nav-list>li .submenu>li>a:hover{
	text-decoration:none;
	color:#4b88b7;
}
.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child{
	color:#c86139;
}
.nav-list>li .submenu>li a>[class*="icon-"]:first-child{
	display:none;
	font-size:12px;
	font-weight:normal;
	width:18px;
	height:auto;
	line-height:12px;
	text-align:center;
	position:absolute;
	left:-9px;
	top:11px;
	z-index:1;
/*	background-color:#fff;*/
	
}


.icon-left{
	display:none;
}
/*#mask{left:1px;}*/
.mask_layer{
	width:100%;
	height:100%;
	background-color:#000;
	position:absolute;
    left:0;
    top:0;
	opacity:0.5;
	z-index:5;
	filter:alpha(opacity=50);
	display:none;
}

#mask2{display:block; background:#000 url(/Content/Images/loading1.gif) no-repeat center center;}
#mask3{display:block;}

/*左侧导航的样式*/
.bd{position:relative;}
.top{overflow:hidden;}
.menu-min .top{overflow:inherit;}
.scroll{width:5px;margin-left:10px;float:left;background:#808080;position:absolute;right:0; top:0; opacity:0.5; filter:alpha(opacity=50); display:none; border-radius:4px; border:1px solid #808080; border-top-color:#666;}
.scroll p{width:100%;height:61px;border-radius:4px; background:#fff; cursor:auto;left:0;top:1px;position:absolute;}


.menu-count,.menu-count2{
/*	background:orange;*/
	height:17px;
	line-height:17px;

}
.menu-count{
	color:#d15b47;
	padding:0 5px;
}
.menu-count2{
	padding:0 2px;
}

.name_s{
	width:63px;
	display:inline-block;
}
.note{
	padding:15px 10px;
	display:none;
}
.note_c p{
	border-bottom:1px solid #ccc;
/*	height:37px;*/
	line-height:37px;
}
.note_c .span1{
	width:84px;
	display:inline-block;
}

/*三级导航*/
.child_layer{
	margin-left:18px;
	border-left:1px dotted #9dbdd6;
/*	padding-bottom:8px;*/
	display:none;
}
.nav-list li.parent_li .child_layer a
{
	height:30px;
	line-height:30px;
	border-top: 1px dotted #ccc;
	padding: 2px 0 2px 24px;
}
.nav-list li.parent_li .child_layer a.active3{
	color:#17992d;
}



.index_pic .abtn{width:90px;height:137px; cursor: pointer;z-index: 1000; }
.index_pic .aleft{background:url(/Content/Images/KF/left1.png) no-repeat 0 0; position:absolute; left:30px; top:50%; margin-top: -65px;}
.index_pic .aright{background:url(/Content/Images/KF/right1.png) no-repeat 0 0; position:absolute; right:30px; top:50%; margin-top: -65px;}

.index_pic{ 
	width:100%; 
	height: 100%; 
 	text-align:center; 
 	position: absolute; 
 	left:0; 
 	overflow: hidden; 
 	top:0;
 	z-index:1000; 
 	vertical-align: middle;

 }
 
.index_pic .btnCont{
	width:70px;
	height:70px;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	background:url(/Content/Images/KF/btnCont2.png) no-repeat 0 0;
    z-index: 1000;
}
.btnCont #idRight {
    width:19px;
    height:19px;
	position:absolute;
    left:21px;
    top:20px;
    border:none;
    cursor:pointer;
    background:transparent;
}
.btnCont #idDel {
    width:19px;
    height:19px;
	position:absolute;
    left:47px;
    top:20px;
    border:none;
    cursor:pointer;
    background:transparent;
}

.index_pic div{ width:100%; height:99%;  overflow:hidden; position:relative; 	overflow: auto; }



.index_pic div img{ vertical-align:middle;  height:auto; margin-top: 10px;}

 

.span_box{ display:inline-block; *display:inline; *zoom:1; height:100%; width:1px; margin-left:-1px; vertical-align:middle;}

.index_pic div.layer_remark{
	width:100%;
	height: 50px;
	text-align: left;
	text-indent: 2em;
	line-height: 24px;
	/*background-color: #000;
	opacity: 0.4;
	filter:alpha(opacity=40);*/
	position: absolute;
	bottom:4px;
	left: 0;
	/*z-index:5;*/
}
.index_pic div.content_sm {
	height: 50px;
	text-align: center;
	text-indent: 2em;
	line-height: 24px;
    margin:0 auto;
	z-index:11;
	color: #fff;
    font-size:16px;
}
.content_lg{
    color:#6991d9;
    text-decoration:underline;
    margin-left:5px;
    font-weight:bold;
}


.navbar-header .banben {
width:500px;position:absolute;left:50%;margin-left:-250px;top:0;}
.navbar-header .banben span {
float:left;}
.navbar-header .banben i{
    float:left;
	background:url(../Images/KF/del.png) no-repeat;
    width:20px;height:20px;
    margin:12px 0 0 5px;
     display:inline;
     cursor:pointer;
}
#serchbox {
height: 27px;
border-bottom: none;
padding-top: 5px;
padding: 5px 0 3px 0;
position: relative;
}

/*放大图片*/
/*.index_pic {
width: 100%;
height: 100%;
text-align: center;
position: absolute;
left: 0;
overflow-x: hidden;
overflow-y: auto;
top: 0;
z-index: 1000;
vertical-align: middle;
}
.index_pic .abtn {
width: 90px;
height: 137px;
cursor: pointer;
z-index: 1000;
}
.index_pic .aleft {
background: url(../Images/left1.png) no-repeat 0 0;
position: fixed;
left: 30px;
top: 50%;
margin-top: -65px;
}
.index_pic .aright {
background: url(../Images/right1.png) no-repeat 0 0;
position: fixed;
right: 30px;
top: 50%;
margin-top: -65px;
}
.index_pic div.layer_remark {
width: 100%;
height: 50px;
text-align: left;
text-indent: 2em;
line-height: 24px;
position: absolute;
bottom: 4px;
left: 0;
/* z-index: 5; */
}
.index_pic div.content_sm {
height: 50px;
text-align: center;
text-indent: 2em;
line-height: 24px;
margin: 0 auto;
z-index: 11;
color: #fff;
font-size: 16px;
}
.content_lg {
color: #6991d9;
text-decoration: underline;
margin-left: 5px;
font-weight: bold;
}
.index_pic .btnCont {
width: 70px;
height: 70px;
position: fixed;
right: 0;
top: 0;
cursor: pointer;
background:url(/Content/Images/KF/btnCont2.png) no-repeat 0 0;
z-index: 1000;
}
.btnCont #idRight {
width: 19px;
height: 19px;
position: absolute;
left: 21px;
top: 20px;
border: none;
cursor: pointer;
background: transparent;
}
.btnCont #idDel {
width: 19px;
height: 19px;
position: absolute;
left: 47px;
top: 20px;
border: none;
cursor: pointer;
background: transparent;
}*/